# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# production
/build

# env
.DS_Store
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.idea/
.vscode/
